html {
	height: 100%;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: 1.8em;
	color: #444;
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
	background: #f6f6f6;
	/* padding: 20px; */
	display: flex;
	flex-direction: column;
	width: 100%;
	/* justify-content: center; */
	align-items: center;
}

ul,
li {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	color: #444;
}

a:visited {
	color: #444;
}

h1 {
	font-size: 2em;
	font-weight: 100;
	color: #333;
}

h3 {
	font-size: 1.25em;
	font-weight: 100;
	color: #666;
	font-weight: 300;
	line-height: 1.8em;
}

.page-container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	/* overflow: hidden; */
	height: 100%;
	column-gap: 20px;
	min-width: 800px;
	/* border: solid 1px green; */
}

.nav-container {
	/* height: 50px; */
	background-color: #333;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
}
.nav-container .nav-inner-container {
	width: 800px;
	color: #f0f0f0;
}
.nav-container .nav-inner-container .button-container {
	display: flex;
	flex-direction: row;
	column-gap: 5px;
	margin: 0;
	padding: 0;
}
.nav-container .button-container li {
	display: flex;
}
.nav-container .button-container button {
	font-size: 12px;
}
.watchlist-scroll-container {
	position: relative;
	width: 300px;
	/* padding: 10px; */
	display: flex;
	flex-direction: column;
	min-height: 200px;
	/* margin: 10px; */
	/* border: solid 1px red; */
}
.watchlist-scroll-container .watchlist-title-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;
}

.watchlist-title-container h1 {
	margin: 10px 0 15px 0;
	padding: 0;
}
.watchlist-title-container ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 5px;
	flex-grow: 2;
	justify-content: flex-end;
}
.watchlist-title-container button {
	display: flex;
	padding: 2px 4px;
}
.watchlist-title-container img {
	width: 15px;
	align-self: center;
}
.watchlist-container {
	display: flex;
	flex-direction: row;
	row-gap: 10px;
	column-gap: 10px;
	flex-wrap: wrap;
	width: 100%;
	/* position: absolute;
	top: 0;
	left: 0;
	height: 100%; */
	/* overflow-y: scroll; */
	/* border: solid 1px red; */
}

/* .watchlist-container button {
	margin-right: 10px;
	font-size: 0.8em;
} */
.watchlist-container .symbol {
	/* display: inline; */
	background-color: #f0f0f0;
	cursor: pointer;
	/* margin-right: 10px; */
	border-radius: 3px;
	padding: 0 5px;
	font-size: 12px;
	color: #777;
	/* width: 50px; */
	flex-grow: 1;
	flex-basis: 30px;
	/* max-width: 25%; */
}

.watchlist-container .symbol:last-of-type {
	flex-basis: 30px;
	flex-grow: unset;
}

.week-chart {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	margin-bottom: 10px;
}
.week-chart .week-filters {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 115px;
}

.week-chart .week-filters .active {
	border-radius: 2px;
	background-color: #0c50d1;
	border: 1px solid #000000;
	color: #fff;
}

.stock-info {
	display: flex;
	flex-direction: row;
	column-gap: 5px;
	margin-bottom: 10px;
	/* align-self: flex-end; */
	align-items: baseline;
}
.stock-info h1 {
	margin: 0;
	padding: 0;
}

.chart-outer-container {
	display: flex;
	flex-direction: column;
	/* align-items: baseline; */
	/* align-content: flex-start; */
	justify-content: flex-start;
	padding: 10px 0;
	width: 100%;
	/* overflow-y: scroll; */
	/* row-gap: 10px; */
	margin: 0;
}

.stock-actions {
	padding: 10px 0;
}
