.container svg .path,
.container svg .arc {
	stroke: rgba(255, 0, 110, 0.5);
	fill: none;
}
.line {
	stroke: rgba(255, 0, 110, 0.5);
	fill: none;
}

.week-chart svg,
.line-chart svg,
.change-chart svg {
	width: 535px;
	height: 350px;
	background-color: #fff;
	border: solid 1px #ccc;
}

.chart-outer-container .line {
	stroke: rgba(255, 0, 110, 0.5);
	fill: none;
}
.chart-outer-container .ellipse {
	stroke: rgba(255, 0, 110, 0.5);
	fill: rgba(255, 0, 110, 0.25);
}
.chart-outer-container .bar {
	stroke: rgba(255, 0, 110, 0.5);
	fill: rgba(255, 0, 110, 0.25);
}

.chart-outer-container .data-point {
	stroke: none;
	fill: rgba(255, 0, 110, 0.15);
}
.chart-outer-container .none {
	stroke: none;
	fill: none;
}
